/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-area {
    -fx-font-size: 33px;
    -fx-font-family: "Helvetica Neue";
}

.text-area .content {
    -fx-background-color: #eff4ff;
}

.text-area *.text {
    -fx-text-alignment: right;
}

.number {
    -fx-background-radius: 0;
    -fx-background-color: #eff4ff;
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 21px;
}

.number:hover {
    -fx-background-color: #aac2dd;
}

.number:pressed {
    -fx-background-color: #6093e0;
    -fx-font-size: 25px;
}

.operations {
    -fx-background-radius: 0;
    -fx-background-color: #3482ef;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: #ffffff;
    -fx-font-size: 27px;
}

.operations:hover {
    -fx-background-color: #1d6197;
}

.operations:pressed {
    -fx-background-color: #224f97;
    -fx-font-size: 28.5px;
}

.topOperations {
    -fx-background-radius: 0;
    -fx-background-color: #6fa9ef;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
}

.topOperations:hover {
    -fx-background-color: #1d6197
}

.topOperations:pressed {
    -fx-background-color: #2b5797;
    -fx-font-size: 21px;
}
/* default для кнопки */
